{% extends 'layouts/main.html' %}
{% block title %}Show Search{% endblock %}
{% block content %}

    <div class="page-header">
        <h1>Fyyur Search!</h1>
    </div>
    <p class="lead"> Show Search </p>

    <ul class="nav nav-pills">
        <li class="active"><a>Shows</a></li>
    </ul>
<h3>Number of search results for "{{ search_term }}" in Artists: {{ artists.count }}</h3>
<ul class="items">
	{% for artist in artists.data %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-music"></i>
			<div class="item">
				<h5>{{ artist.name }}</h5>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>


<h3>Number of search results for "{{ search_term }}" in Venues: {{ venues.count }}</h3>
<ul class="items">
	{% for venue in venues.data %}
	<li>
		<a href="/venues/{{ venue.id }}">
			<i class="fas fa-music"></i>
			<div class="item">
				<h5>{{ venue.name }}</h5>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}